*{
    margin: 0;
}

header{
    height: 100px;
    background-color: black;
    color: orange;
    display:flex;
    justify-content: center;
    align-items: center;

}

main{
    height: calc(100vh -100px);
    display: flex;
    justify-content: center;
    align-items: center;
}